body {
    
    color: #535151;
}

.jumbotron {
    background-image: url("../images/flask.png");
    background-size: 100% 100%;
    background-color: lavenderblush;
    text-align: center;
}